body {
    background: #f9f9f6;
    color: #333;
    font-family: 'Slabo 27px', serif;
    line-height: 150%;
    text-align: center;
}

section {
    border: solid #f6f6ea;
    background: #faffff;
    border-width: 0px 3px 0px 1px;
    max-width: 70%;
    margin: 0 auto;
    padding: 2em 2em 6em 2em;
}

h1, h2, h3, h4, h5 {
    text-align: center; /* redundant if we make all text centered */
}

h1 {
    font-family: 'Alex Brush', cursive;    
    font-size: 4em;
}

h2 {
    color: #555;
    font-size: 2.7em;
    line-height: 125%;
}

h3 {
    color: #555;
    font-size: 2.0em;
}

h4 {
    color: #555;
    font-size: 1em;
}

p {
    max-width: 600px;
    margin: 1em auto;
}

#rsvp {
    display: none;
}

#rsvp.visible {
    display: block;
}

#schedule h4 {
    display: inline;
}

.rsvpbuttons, .foodbuttons {
    width: 70%;
    margin: 0 auto 2em auto;
    display: flex;
    position: relative;
}

.rsvpbuttons button {
    flex-grow: 1;
    width: 33%;
    height: 3em;
    font-family: 'Slabo 27px', serif;
    font-size: 1em;
    background-color: #fefbfa;
    color: #666;
    cursor: pointer;
}

.foodbuttons button {
    flex-grow: 1;
    width: 33%;
    min-height: 3em;
    padding: 0.2em;
    height: auto;
    font-family: 'Slabo 27px', serif;
    font-size: 1em;
    background-color: #fefbfa;
    color: #666;
    cursor: pointer;
}

.rsvpbuttons button.selected, .foodbuttons button.selected {
    background-color: #8c7;
    color: #000;
}

#rsvp input {
    width: 70%;
    height: 2.6em;
}

#food2, #rsvp-one {
    display: none;
}

#food2.visible, #rsvp-one.visible {
    display: block;
}

.maparea {
    width: 100%;
    height: 500px;
}

#hotelpublic, #hotelprivate {
    display: none;
}

#hotelpublic.visible, #hotelprivate.visible {
    display: inline;
}

.placeholder {
    width: 100%;
    height: 650px;
}

.photo {
    border: 0;
    max-width:100%;
    max-height:100%;
}

a, a:visited {
    color: #336;
    text-decoration-style: dotted;
}

a:hover {
    color: #339;
    text-decoration-style: underline;
}

/* Portrait and Landscape */
@media only screen
  and (max-width: 950px)  {
    section {
        max-width: 80%;
    }
    .rsvpbuttons, .foodbuttons {
        width: 85%;
    }

    #rsvp input {
        width: 85%;
    }
}
/* Portrait and Landscape */
@media only screen
  and (max-width: 736px)  {
    section {
        max-width: 96%;
    }
    .rsvpbuttons, .foodbuttons {
        width: 96%;
    }

    #rsvp input {
        width: 96%;
    }
    h1 {
        font-size: 3em;
        line-height: 115%;
    }
}