body {
    background: #f9f9f6;
    color: #333;
    font-family: 'Slabo 27px', serif;
    line-height: 150%;
    text-align: center;
}

section {
    border: solid #f6f6ea;
    border-width: 0px 3px 0px 1px;
    max-width: 70%;
    margin: 0 auto;
    padding: 2em 2em 6em 2em;
}

h1, h2, h3, h4, h5 {
    text-align: center; /* redundant if we make all text centered */
}

h1 {
    font-family: 'Alex Brush', cursive;    
    font-size: 4em;
}

h2 {
    color: #555;
    font-size: 2.7em;
}

h3 {
    color: #555;
    font-size: 2.0em;
}

h4 {
    color: #555;
    font-size: 1em;
}

/* Portrait and Landscape */
@media only screen
  and (max-width: 736px)  {
    section {
        max-width: 98%;
    }
    .rsvpbuttons {
        width: 100%;
    }

    #rsvp input {
        width: 100%;
    }
}
/* Portrait and Landscape */
@media only screen
  and (max-width: 736%)  {
    section {
        max-width: 90%;
    }
    .rsvpbuttons {
        width: 90%;
    }

    #rsvp input {
        width: 90%;
    }
}

#rsvp {
    background: #faffff;
    display: none;
}

#rsvp.visible {
    display: block;
}

#map {
    background: #fcfffc;
}

#photos {
    background: #fffcfc;
}

.rsvpbuttons {
    width: 50%;
    margin: 0 auto;
    display: flex;
}

.rsvpbuttons button {
    flex-grow: 1;
    margin: 2%;
    height: 3em;
    font-family: 'Slabo 27px', serif;
    font-size: 1em;
}

#rsvp input {
    width: 45%;
    height: 2.6em;
}

.maparea {
    width: 100%;
    height: 500px;
}

.placeholder {
    width: 100%;
    height: 650px;
}

.photo {
    border: 0;
    max-width:100%;
    max-height:100%;
}

a, a:visited {
    color: #555;
    text-decoration: none;
}

a:hover {
    color: #339;
    text-decoration: underline;
}